Aufgabenstellung Python Projekt.pdf
.venv
__pycache__/
API_KEY_URL.py
TKinter_test.py
kreisdiagramme.png
TestStringVar.py
.idea/
*.pyc
Company.py~
Popup.py~
def get_genre_id(genre_name).txt


*~
*.pyc
*.swp
*.bak
*.log
*.tmp

